<% if notice %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <div class="container">
    <p class="text-center m-0"><%= notice %></div>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div class="container">
    <p class="text-center m-0"><%= alert %></p>
    </div>
  </div>
<% end %>
